.env
.venv

# Cache
.*_cache/
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Coverage
.coverage/

# Sphinx documentation
docs/build/
docs/api/

# Built Documentation
_build/
rosetta_lang.egg-info/
rosetta_lang.code-workspace
